body {
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5%;  
}

.exp-header {
  text-transform: uppercase;
  border-top: 3px dotted black;
  border-bottom: 3px dotted black;
  text-align: center;
  background-color: rgba(200,245,39,0.1)
}

img {
  width: 30%;
  margin-left: 60%
}

h1 {
  position:relative; left: 5px; top:50px; 
}

section {
  border-top: 3px dashed black;
  padding-left: 5px
}
